.intro{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bg{
    position: absolute;
    top:-4rem;
    right: 0;
    z-index:-1;
    object-fit:cover;
}
.introContent{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color: yellow;
}
.introPara{
    font-size: medium; /* Keep the medium font size */
    padding-right: 20px; /* Maintain the right padding */
    text-align: left; /* Align text to the left */
    line-height: 1.6; /* Improve readability with increased line height */
    max-width: 600px; /* Limit the width of the paragraph */
    margin: 0; /* Remove default margins */

}
.hireBtn{
    border-radius: 15px;
    padding: 10px;

}

    